
  
  body {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 50px 100px 100px 100px;

  }

.container{
    display: flex;
    justify-content: center;
    margin: 50px 50px 50px 50px;
}
  
.tile {
  background-color: black;
    margin: 25px 25px 25px 25px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    cursor: pointer;
}


.play{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-left: 45%;
    cursor: pointer;
}